/* Reset CSS Mínimo */
html {
  box-sizing: border-box;
  font-size: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

* {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

ol,
ul,
dl {
  list-style: none;
  padding-inline-start: unset;
}

img, picture, video, canvas, svg {
  display: inline-block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* Variables CSS Compartidas */
:root {
  --hg-typo-font-family-primary: arial, sans-serif;
  --hg-typo-font-family-secondary: "ms-serif", serif;
  --hg-typo-line-height-1: 1;
  --hg-typo-line-height-1-976: 1.976;
  --hg-typo-line-height-1-2: 1.2;
  --hg-typo-line-height-1-4: 1.4;
  --hg-typo-line-height-1-5: 1.5;
  --hg-typo-line-height-1-1: 1.1;
  --hg-typo-font-weight-100: 100;
  --hg-typo-font-weight-400: 400;
  --hg-typo-font-weight-700: 700;
  --hg-typo-font-weight-900: 900;
  --hg-typo-letter-spacing-0: 0rem;
  --hg-typo-text-transform-none: none;
  --hg-typo-text-transform-uppercase: uppercase;
  --hg-typo-font-size-18: 1.125rem;
  --hg-typo-font-size-24: 1.5rem;
  --hg-typo-font-size-14: 0.875rem;
  --hg-typo-font-size-12: 0.75rem;
  --hg-typo-font-size-16: 1rem;
  --hg-typo-font-size-20: 1.25rem;
  --hg-typo-font-size-13: 0.8125rem;
  --hg-typo-font-size-10: 0.625rem;
  --hg-typo-font-size-8: 0.5rem;
  --hg-spacing-0: 0;
  --hg-spacing-4: 0.25rem;
  --hg-spacing-8: 0.5rem;
  --hg-spacing-12: 0.75rem;
  --hg-spacing-16: 1rem;
  --hg-spacing-20: 1.25rem;
  --hg-spacing-24: 1.5rem;
  --hg-spacing-32: 2rem;
  --hg-spacing-36: 2.25rem;
  --hg-spacing-40: 2.5rem;
  --hg-spacing-64: 4rem;
  --hg-spacing-120: 7.5rem;
  --hg-spacing-20-percent: 20%;
  --hg-spacing-50-percent: 50%;
  --hg-spacing-75-percent: 75%;
  --hg-spacing-100-percent: 100%;
  --hg-color-white: #ffffff;
  --hg-color-black: #000000;
  --hg-color-dark-grey: #737373;
  --hg-color-middle-grey: #a9a9a9;
  --hg-color-light-grey: #f0f0f0;
  --hg-color-primary: #000000;
  --hg-color-error: #b40016;
  --hg-color-info: #1a32a4;
  --hg-color-success: #76ae4a;
  --hg-color-warning: #ffc700;
  --hg-color-feel: #fb9962;
  --hg-color-feel-dark: #c94c07;
  --hg-color-special: #b99d6b;
  --hg-color-bg-light: #F0F0F0;
  --hg-color-c-bg-light: #000000;
  --hg-color-sk-grey: #e3e3e3;
  --hg-color-bg-cream: #f4f2ed;
}

/* Helpers de Spacing (Padding y Margin) - Mobile */
  .p-0 { padding: var(--hg-spacing-0); }
  .pr-0 { padding-inline-end: var(--hg-spacing-0); }
  .pl-0 { padding-inline-start: var(--hg-spacing-0); }
  .pb-0 { padding-bottom: var(--hg-spacing-0); }
  .pt-0 { padding-top: var(--hg-spacing-0); }
  .m-0 { margin: var(--hg-spacing-0); }
  .mr-0 { margin-inline-end: var(--hg-spacing-0); }
  .ml-0 { margin-inline-start: var(--hg-spacing-0); }
  .mb-0 { margin-bottom: var(--hg-spacing-0); }
  .mt-0 { margin-top: var(--hg-spacing-0); }
  .p-4 { padding: var(--hg-spacing-4); }
  .pr-4 { padding-inline-end: var(--hg-spacing-4); }
  .pl-4 { padding-inline-start: var(--hg-spacing-4); }
  .pb-4 { padding-bottom: var(--hg-spacing-4); }
  .pt-4 { padding-top: var(--hg-spacing-4); }
  .m-4 { margin: var(--hg-spacing-4); }
  .mr-4 { margin-inline-end: var(--hg-spacing-4); }
  .ml-4 { margin-inline-start: var(--hg-spacing-4); }
  .mb-4 { margin-bottom: var(--hg-spacing-4); }
  .mt-4 { margin-top: var(--hg-spacing-4); }
  .p-8 { padding: var(--hg-spacing-8); }
  .pr-8 { padding-inline-end: var(--hg-spacing-8); }
  .pl-8 { padding-inline-start: var(--hg-spacing-8); }
  .pb-8 { padding-bottom: var(--hg-spacing-8); }
  .pt-8 { padding-top: var(--hg-spacing-8); }
  .m-8 { margin: var(--hg-spacing-8); }
  .mr-8 { margin-inline-end: var(--hg-spacing-8); }
  .ml-8 { margin-inline-start: var(--hg-spacing-8); }
  .mb-8 { margin-bottom: var(--hg-spacing-8); }
  .mt-8 { margin-top: var(--hg-spacing-8); }
  .p-12 { padding: var(--hg-spacing-12); }
  .pr-12 { padding-inline-end: var(--hg-spacing-12); }
  .pl-12 { padding-inline-start: var(--hg-spacing-12); }
  .pb-12 { padding-bottom: var(--hg-spacing-12); }
  .pt-12 { padding-top: var(--hg-spacing-12); }
  .m-12 { margin: var(--hg-spacing-12); }
  .mr-12 { margin-inline-end: var(--hg-spacing-12); }
  .ml-12 { margin-inline-start: var(--hg-spacing-12); }
  .mb-12 { margin-bottom: var(--hg-spacing-12); }
  .mt-12 { margin-top: var(--hg-spacing-12); }
  .p-16 { padding: var(--hg-spacing-16); }
  .pr-16 { padding-inline-end: var(--hg-spacing-16); }
  .pl-16 { padding-inline-start: var(--hg-spacing-16); }
  .pb-16 { padding-bottom: var(--hg-spacing-16); }
  .pt-16 { padding-top: var(--hg-spacing-16); }
  .m-16 { margin: var(--hg-spacing-16); }
  .mr-16 { margin-inline-end: var(--hg-spacing-16); }
  .ml-16 { margin-inline-start: var(--hg-spacing-16); }
  .mb-16 { margin-bottom: var(--hg-spacing-16); }
  .mt-16 { margin-top: var(--hg-spacing-16); }
  .p-20 { padding: var(--hg-spacing-20); }
  .pr-20 { padding-inline-end: var(--hg-spacing-20); }
  .pl-20 { padding-inline-start: var(--hg-spacing-20); }
  .pb-20 { padding-bottom: var(--hg-spacing-20); }
  .pt-20 { padding-top: var(--hg-spacing-20); }
  .m-20 { margin: var(--hg-spacing-20); }
  .mr-20 { margin-inline-end: var(--hg-spacing-20); }
  .ml-20 { margin-inline-start: var(--hg-spacing-20); }
  .mb-20 { margin-bottom: var(--hg-spacing-20); }
  .mt-20 { margin-top: var(--hg-spacing-20); }
  .p-24 { padding: var(--hg-spacing-24); }
  .pr-24 { padding-inline-end: var(--hg-spacing-24); }
  .pl-24 { padding-inline-start: var(--hg-spacing-24); }
  .pb-24 { padding-bottom: var(--hg-spacing-24); }
  .pt-24 { padding-top: var(--hg-spacing-24); }
  .m-24 { margin: var(--hg-spacing-24); }
  .mr-24 { margin-inline-end: var(--hg-spacing-24); }
  .ml-24 { margin-inline-start: var(--hg-spacing-24); }
  .mb-24 { margin-bottom: var(--hg-spacing-24); }
  .mt-24 { margin-top: var(--hg-spacing-24); }
  .p-32 { padding: var(--hg-spacing-32); }
  .pr-32 { padding-inline-end: var(--hg-spacing-32); }
  .pl-32 { padding-inline-start: var(--hg-spacing-32); }
  .pb-32 { padding-bottom: var(--hg-spacing-32); }
  .pt-32 { padding-top: var(--hg-spacing-32); }
  .m-32 { margin: var(--hg-spacing-32); }
  .mr-32 { margin-inline-end: var(--hg-spacing-32); }
  .ml-32 { margin-inline-start: var(--hg-spacing-32); }
  .mb-32 { margin-bottom: var(--hg-spacing-32); }
  .mt-32 { margin-top: var(--hg-spacing-32); }
  .p-36 { padding: var(--hg-spacing-36); }
  .pr-36 { padding-inline-end: var(--hg-spacing-36); }
  .pl-36 { padding-inline-start: var(--hg-spacing-36); }
  .pb-36 { padding-bottom: var(--hg-spacing-36); }
  .pt-36 { padding-top: var(--hg-spacing-36); }
  .m-36 { margin: var(--hg-spacing-36); }
  .mr-36 { margin-inline-end: var(--hg-spacing-36); }
  .ml-36 { margin-inline-start: var(--hg-spacing-36); }
  .mb-36 { margin-bottom: var(--hg-spacing-36); }
  .mt-36 { margin-top: var(--hg-spacing-36); }
  .p-40 { padding: var(--hg-spacing-40); }
  .pr-40 { padding-inline-end: var(--hg-spacing-40); }
  .pl-40 { padding-inline-start: var(--hg-spacing-40); }
  .pb-40 { padding-bottom: var(--hg-spacing-40); }
  .pt-40 { padding-top: var(--hg-spacing-40); }
  .m-40 { margin: var(--hg-spacing-40); }
  .mr-40 { margin-inline-end: var(--hg-spacing-40); }
  .ml-40 { margin-inline-start: var(--hg-spacing-40); }
  .mb-40 { margin-bottom: var(--hg-spacing-40); }
  .mt-40 { margin-top: var(--hg-spacing-40); }
  .p-64 { padding: var(--hg-spacing-64); }
  .pr-64 { padding-inline-end: var(--hg-spacing-64); }
  .pl-64 { padding-inline-start: var(--hg-spacing-64); }
  .pb-64 { padding-bottom: var(--hg-spacing-64); }
  .pt-64 { padding-top: var(--hg-spacing-64); }
  .m-64 { margin: var(--hg-spacing-64); }
  .mr-64 { margin-inline-end: var(--hg-spacing-64); }
  .ml-64 { margin-inline-start: var(--hg-spacing-64); }
  .mb-64 { margin-bottom: var(--hg-spacing-64); }
  .mt-64 { margin-top: var(--hg-spacing-64); }
  .p-120 { padding: var(--hg-spacing-120); }
  .pr-120 { padding-inline-end: var(--hg-spacing-120); }
  .pl-120 { padding-inline-start: var(--hg-spacing-120); }
  .pb-120 { padding-bottom: var(--hg-spacing-120); }
  .pt-120 { padding-top: var(--hg-spacing-120); }
  .m-120 { margin: var(--hg-spacing-120); }
  .mr-120 { margin-inline-end: var(--hg-spacing-120); }
  .ml-120 { margin-inline-start: var(--hg-spacing-120); }
  .mb-120 { margin-bottom: var(--hg-spacing-120); }
  .mt-120 { margin-top: var(--hg-spacing-120); }
  .p-20-percent { padding: var(--hg-spacing-20-percent); }
  .pr-20-percent { padding-inline-end: var(--hg-spacing-20-percent); }
  .pl-20-percent { padding-inline-start: var(--hg-spacing-20-percent); }
  .pb-20-percent { padding-bottom: var(--hg-spacing-20-percent); }
  .pt-20-percent { padding-top: var(--hg-spacing-20-percent); }
  .m-20-percent { margin: var(--hg-spacing-20-percent); }
  .mr-20-percent { margin-inline-end: var(--hg-spacing-20-percent); }
  .ml-20-percent { margin-inline-start: var(--hg-spacing-20-percent); }
  .mb-20-percent { margin-bottom: var(--hg-spacing-20-percent); }
  .mt-20-percent { margin-top: var(--hg-spacing-20-percent); }
  .p-50-percent { padding: var(--hg-spacing-50-percent); }
  .pr-50-percent { padding-inline-end: var(--hg-spacing-50-percent); }
  .pl-50-percent { padding-inline-start: var(--hg-spacing-50-percent); }
  .pb-50-percent { padding-bottom: var(--hg-spacing-50-percent); }
  .pt-50-percent { padding-top: var(--hg-spacing-50-percent); }
  .m-50-percent { margin: var(--hg-spacing-50-percent); }
  .mr-50-percent { margin-inline-end: var(--hg-spacing-50-percent); }
  .ml-50-percent { margin-inline-start: var(--hg-spacing-50-percent); }
  .mb-50-percent { margin-bottom: var(--hg-spacing-50-percent); }
  .mt-50-percent { margin-top: var(--hg-spacing-50-percent); }
  .p-75-percent { padding: var(--hg-spacing-75-percent); }
  .pr-75-percent { padding-inline-end: var(--hg-spacing-75-percent); }
  .pl-75-percent { padding-inline-start: var(--hg-spacing-75-percent); }
  .pb-75-percent { padding-bottom: var(--hg-spacing-75-percent); }
  .pt-75-percent { padding-top: var(--hg-spacing-75-percent); }
  .m-75-percent { margin: var(--hg-spacing-75-percent); }
  .mr-75-percent { margin-inline-end: var(--hg-spacing-75-percent); }
  .ml-75-percent { margin-inline-start: var(--hg-spacing-75-percent); }
  .mb-75-percent { margin-bottom: var(--hg-spacing-75-percent); }
  .mt-75-percent { margin-top: var(--hg-spacing-75-percent); }
  .p-100-percent { padding: var(--hg-spacing-100-percent); }
  .pr-100-percent { padding-inline-end: var(--hg-spacing-100-percent); }
  .pl-100-percent { padding-inline-start: var(--hg-spacing-100-percent); }
  .pb-100-percent { padding-bottom: var(--hg-spacing-100-percent); }
  .pt-100-percent { padding-top: var(--hg-spacing-100-percent); }
  .m-100-percent { margin: var(--hg-spacing-100-percent); }
  .mr-100-percent { margin-inline-end: var(--hg-spacing-100-percent); }
  .ml-100-percent { margin-inline-start: var(--hg-spacing-100-percent); }
  .mb-100-percent { margin-bottom: var(--hg-spacing-100-percent); }
  .mt-100-percent { margin-top: var(--hg-spacing-100-percent); }
  .p-0\! { padding: var(--hg-spacing-0) !important; }
  .pr-0\! { padding-inline-end: var(--hg-spacing-0) !important; }
  .pl-0\! { padding-inline-start: var(--hg-spacing-0) !important; }
  .pb-0\! { padding-bottom: var(--hg-spacing-0) !important; }
  .pt-0\! { padding-top: var(--hg-spacing-0) !important; }
  .m-0\! { margin: var(--hg-spacing-0) !important; }
  .mr-0\! { margin-inline-end: var(--hg-spacing-0) !important; }
  .ml-0\! { margin-inline-start: var(--hg-spacing-0) !important; }
  .mb-0\! { margin-bottom: var(--hg-spacing-0) !important; }
  .mt-0\! { margin-top: var(--hg-spacing-0) !important; }

/* Helpers de Spacing (Padding y Margin) - Desktop (md:) */
@media (min-width: 62rem) {
    .md\:p-0 { padding: var(--hg-spacing-0); }
    .md\:pr-0 { padding-inline-end: var(--hg-spacing-0); }
    .md\:pl-0 { padding-inline-start: var(--hg-spacing-0); }
    .md\:pb-0 { padding-bottom: var(--hg-spacing-0); }
    .md\:pt-0 { padding-top: var(--hg-spacing-0); }
    .md\:m-0 { margin: var(--hg-spacing-0); }
    .md\:mr-0 { margin-inline-end: var(--hg-spacing-0); }
    .md\:ml-0 { margin-inline-start: var(--hg-spacing-0); }
    .md\:mb-0 { margin-bottom: var(--hg-spacing-0); }
    .md\:mt-0 { margin-top: var(--hg-spacing-0); }
    .md\:p-4 { padding: var(--hg-spacing-4); }
    .md\:pr-4 { padding-inline-end: var(--hg-spacing-4); }
    .md\:pl-4 { padding-inline-start: var(--hg-spacing-4); }
    .md\:pb-4 { padding-bottom: var(--hg-spacing-4); }
    .md\:pt-4 { padding-top: var(--hg-spacing-4); }
    .md\:m-4 { margin: var(--hg-spacing-4); }
    .md\:mr-4 { margin-inline-end: var(--hg-spacing-4); }
    .md\:ml-4 { margin-inline-start: var(--hg-spacing-4); }
    .md\:mb-4 { margin-bottom: var(--hg-spacing-4); }
    .md\:mt-4 { margin-top: var(--hg-spacing-4); }
    .md\:p-8 { padding: var(--hg-spacing-8); }
    .md\:pr-8 { padding-inline-end: var(--hg-spacing-8); }
    .md\:pl-8 { padding-inline-start: var(--hg-spacing-8); }
    .md\:pb-8 { padding-bottom: var(--hg-spacing-8); }
    .md\:pt-8 { padding-top: var(--hg-spacing-8); }
    .md\:m-8 { margin: var(--hg-spacing-8); }
    .md\:mr-8 { margin-inline-end: var(--hg-spacing-8); }
    .md\:ml-8 { margin-inline-start: var(--hg-spacing-8); }
    .md\:mb-8 { margin-bottom: var(--hg-spacing-8); }
    .md\:mt-8 { margin-top: var(--hg-spacing-8); }
    .md\:p-12 { padding: var(--hg-spacing-12); }
    .md\:pr-12 { padding-inline-end: var(--hg-spacing-12); }
    .md\:pl-12 { padding-inline-start: var(--hg-spacing-12); }
    .md\:pb-12 { padding-bottom: var(--hg-spacing-12); }
    .md\:pt-12 { padding-top: var(--hg-spacing-12); }
    .md\:m-12 { margin: var(--hg-spacing-12); }
    .md\:mr-12 { margin-inline-end: var(--hg-spacing-12); }
    .md\:ml-12 { margin-inline-start: var(--hg-spacing-12); }
    .md\:mb-12 { margin-bottom: var(--hg-spacing-12); }
    .md\:mt-12 { margin-top: var(--hg-spacing-12); }
    .md\:p-16 { padding: var(--hg-spacing-16); }
    .md\:pr-16 { padding-inline-end: var(--hg-spacing-16); }
    .md\:pl-16 { padding-inline-start: var(--hg-spacing-16); }
    .md\:pb-16 { padding-bottom: var(--hg-spacing-16); }
    .md\:pt-16 { padding-top: var(--hg-spacing-16); }
    .md\:m-16 { margin: var(--hg-spacing-16); }
    .md\:mr-16 { margin-inline-end: var(--hg-spacing-16); }
    .md\:ml-16 { margin-inline-start: var(--hg-spacing-16); }
    .md\:mb-16 { margin-bottom: var(--hg-spacing-16); }
    .md\:mt-16 { margin-top: var(--hg-spacing-16); }
    .md\:p-20 { padding: var(--hg-spacing-20); }
    .md\:pr-20 { padding-inline-end: var(--hg-spacing-20); }
    .md\:pl-20 { padding-inline-start: var(--hg-spacing-20); }
    .md\:pb-20 { padding-bottom: var(--hg-spacing-20); }
    .md\:pt-20 { padding-top: var(--hg-spacing-20); }
    .md\:m-20 { margin: var(--hg-spacing-20); }
    .md\:mr-20 { margin-inline-end: var(--hg-spacing-20); }
    .md\:ml-20 { margin-inline-start: var(--hg-spacing-20); }
    .md\:mb-20 { margin-bottom: var(--hg-spacing-20); }
    .md\:mt-20 { margin-top: var(--hg-spacing-20); }
    .md\:p-24 { padding: var(--hg-spacing-24); }
    .md\:pr-24 { padding-inline-end: var(--hg-spacing-24); }
    .md\:pl-24 { padding-inline-start: var(--hg-spacing-24); }
    .md\:pb-24 { padding-bottom: var(--hg-spacing-24); }
    .md\:pt-24 { padding-top: var(--hg-spacing-24); }
    .md\:m-24 { margin: var(--hg-spacing-24); }
    .md\:mr-24 { margin-inline-end: var(--hg-spacing-24); }
    .md\:ml-24 { margin-inline-start: var(--hg-spacing-24); }
    .md\:mb-24 { margin-bottom: var(--hg-spacing-24); }
    .md\:mt-24 { margin-top: var(--hg-spacing-24); }
    .md\:p-32 { padding: var(--hg-spacing-32); }
    .md\:pr-32 { padding-inline-end: var(--hg-spacing-32); }
    .md\:pl-32 { padding-inline-start: var(--hg-spacing-32); }
    .md\:pb-32 { padding-bottom: var(--hg-spacing-32); }
    .md\:pt-32 { padding-top: var(--hg-spacing-32); }
    .md\:m-32 { margin: var(--hg-spacing-32); }
    .md\:mr-32 { margin-inline-end: var(--hg-spacing-32); }
    .md\:ml-32 { margin-inline-start: var(--hg-spacing-32); }
    .md\:mb-32 { margin-bottom: var(--hg-spacing-32); }
    .md\:mt-32 { margin-top: var(--hg-spacing-32); }
    .md\:p-36 { padding: var(--hg-spacing-36); }
    .md\:pr-36 { padding-inline-end: var(--hg-spacing-36); }
    .md\:pl-36 { padding-inline-start: var(--hg-spacing-36); }
    .md\:pb-36 { padding-bottom: var(--hg-spacing-36); }
    .md\:pt-36 { padding-top: var(--hg-spacing-36); }
    .md\:m-36 { margin: var(--hg-spacing-36); }
    .md\:mr-36 { margin-inline-end: var(--hg-spacing-36); }
    .md\:ml-36 { margin-inline-start: var(--hg-spacing-36); }
    .md\:mb-36 { margin-bottom: var(--hg-spacing-36); }
    .md\:mt-36 { margin-top: var(--hg-spacing-36); }
    .md\:p-40 { padding: var(--hg-spacing-40); }
    .md\:pr-40 { padding-inline-end: var(--hg-spacing-40); }
    .md\:pl-40 { padding-inline-start: var(--hg-spacing-40); }
    .md\:pb-40 { padding-bottom: var(--hg-spacing-40); }
    .md\:pt-40 { padding-top: var(--hg-spacing-40); }
    .md\:m-40 { margin: var(--hg-spacing-40); }
    .md\:mr-40 { margin-inline-end: var(--hg-spacing-40); }
    .md\:ml-40 { margin-inline-start: var(--hg-spacing-40); }
    .md\:mb-40 { margin-bottom: var(--hg-spacing-40); }
    .md\:mt-40 { margin-top: var(--hg-spacing-40); }
    .md\:p-64 { padding: var(--hg-spacing-64); }
    .md\:pr-64 { padding-inline-end: var(--hg-spacing-64); }
    .md\:pl-64 { padding-inline-start: var(--hg-spacing-64); }
    .md\:pb-64 { padding-bottom: var(--hg-spacing-64); }
    .md\:pt-64 { padding-top: var(--hg-spacing-64); }
    .md\:m-64 { margin: var(--hg-spacing-64); }
    .md\:mr-64 { margin-inline-end: var(--hg-spacing-64); }
    .md\:ml-64 { margin-inline-start: var(--hg-spacing-64); }
    .md\:mb-64 { margin-bottom: var(--hg-spacing-64); }
    .md\:mt-64 { margin-top: var(--hg-spacing-64); }
    .md\:p-120 { padding: var(--hg-spacing-120); }
    .md\:pr-120 { padding-inline-end: var(--hg-spacing-120); }
    .md\:pl-120 { padding-inline-start: var(--hg-spacing-120); }
    .md\:pb-120 { padding-bottom: var(--hg-spacing-120); }
    .md\:pt-120 { padding-top: var(--hg-spacing-120); }
    .md\:m-120 { margin: var(--hg-spacing-120); }
    .md\:mr-120 { margin-inline-end: var(--hg-spacing-120); }
    .md\:ml-120 { margin-inline-start: var(--hg-spacing-120); }
    .md\:mb-120 { margin-bottom: var(--hg-spacing-120); }
    .md\:mt-120 { margin-top: var(--hg-spacing-120); }
    .md\:p-20-percent { padding: var(--hg-spacing-20-percent); }
    .md\:pr-20-percent { padding-inline-end: var(--hg-spacing-20-percent); }
    .md\:pl-20-percent { padding-inline-start: var(--hg-spacing-20-percent); }
    .md\:pb-20-percent { padding-bottom: var(--hg-spacing-20-percent); }
    .md\:pt-20-percent { padding-top: var(--hg-spacing-20-percent); }
    .md\:m-20-percent { margin: var(--hg-spacing-20-percent); }
    .md\:mr-20-percent { margin-inline-end: var(--hg-spacing-20-percent); }
    .md\:ml-20-percent { margin-inline-start: var(--hg-spacing-20-percent); }
    .md\:mb-20-percent { margin-bottom: var(--hg-spacing-20-percent); }
    .md\:mt-20-percent { margin-top: var(--hg-spacing-20-percent); }
    .md\:p-50-percent { padding: var(--hg-spacing-50-percent); }
    .md\:pr-50-percent { padding-inline-end: var(--hg-spacing-50-percent); }
    .md\:pl-50-percent { padding-inline-start: var(--hg-spacing-50-percent); }
    .md\:pb-50-percent { padding-bottom: var(--hg-spacing-50-percent); }
    .md\:pt-50-percent { padding-top: var(--hg-spacing-50-percent); }
    .md\:m-50-percent { margin: var(--hg-spacing-50-percent); }
    .md\:mr-50-percent { margin-inline-end: var(--hg-spacing-50-percent); }
    .md\:ml-50-percent { margin-inline-start: var(--hg-spacing-50-percent); }
    .md\:mb-50-percent { margin-bottom: var(--hg-spacing-50-percent); }
    .md\:mt-50-percent { margin-top: var(--hg-spacing-50-percent); }
    .md\:p-75-percent { padding: var(--hg-spacing-75-percent); }
    .md\:pr-75-percent { padding-inline-end: var(--hg-spacing-75-percent); }
    .md\:pl-75-percent { padding-inline-start: var(--hg-spacing-75-percent); }
    .md\:pb-75-percent { padding-bottom: var(--hg-spacing-75-percent); }
    .md\:pt-75-percent { padding-top: var(--hg-spacing-75-percent); }
    .md\:m-75-percent { margin: var(--hg-spacing-75-percent); }
    .md\:mr-75-percent { margin-inline-end: var(--hg-spacing-75-percent); }
    .md\:ml-75-percent { margin-inline-start: var(--hg-spacing-75-percent); }
    .md\:mb-75-percent { margin-bottom: var(--hg-spacing-75-percent); }
    .md\:mt-75-percent { margin-top: var(--hg-spacing-75-percent); }
    .md\:p-100-percent { padding: var(--hg-spacing-100-percent); }
    .md\:pr-100-percent { padding-inline-end: var(--hg-spacing-100-percent); }
    .md\:pl-100-percent { padding-inline-start: var(--hg-spacing-100-percent); }
    .md\:pb-100-percent { padding-bottom: var(--hg-spacing-100-percent); }
    .md\:pt-100-percent { padding-top: var(--hg-spacing-100-percent); }
    .md\:m-100-percent { margin: var(--hg-spacing-100-percent); }
    .md\:mr-100-percent { margin-inline-end: var(--hg-spacing-100-percent); }
    .md\:ml-100-percent { margin-inline-start: var(--hg-spacing-100-percent); }
    .md\:mb-100-percent { margin-bottom: var(--hg-spacing-100-percent); }
    .md\:mt-100-percent { margin-top: var(--hg-spacing-100-percent); }
    .md\:p-0\! { padding: var(--hg-spacing-0) !important; }
    .md\:pr-0\! { padding-inline-end: var(--hg-spacing-0) !important; }
    .md\:pl-0\! { padding-inline-start: var(--hg-spacing-0) !important; }
    .md\:pb-0\! { padding-bottom: var(--hg-spacing-0) !important; }
    .md\:pt-0\! { padding-top: var(--hg-spacing-0) !important; }
    .md\:m-0\! { margin: var(--hg-spacing-0) !important; }
    .md\:mr-0\! { margin-inline-end: var(--hg-spacing-0) !important; }
    .md\:ml-0\! { margin-inline-start: var(--hg-spacing-0) !important; }
    .md\:mb-0\! { margin-bottom: var(--hg-spacing-0) !important; }
    .md\:mt-0\! { margin-top: var(--hg-spacing-0) !important; }
}


/* Layout Helpers */
.hg-d-contents { display: contents; }
.hg-d-inline { display: inline; }
.hg-d-inline-block { display: inline-block; }
.hg-d-block { display: block; }
.hg-d-flex { display: flex; }
.hg-d-inline-flex { display: inline-flex; }
.hg-d-none { display: none; }

@media (min-width: 992px) {
  .md\:hg-d-contents { display: contents; }
  .md\:hg-d-inline { display: inline; }
  .md\:hg-d-inline-block { display: inline-block; }
  .md\:hg-d-block { display: block; }
  .md\:hg-d-flex { display: flex; }
  .md\:hg-d-inline-flex { display: inline-flex; }
  .md\:hg-d-none { display: none; }
}

.hg-flex-row { flex-direction: row; }
.hg-flex-column { flex-direction: column; }

@media (min-width: 992px) {
  .md\:hg-flex-row { flex-direction: row; }
  .md\:hg-flex-column { flex-direction: column; }
}

.hg-flex-nowrap { flex-wrap: nowrap; }
.hg-flex-wrap { flex-wrap: wrap; }

@media (min-width: 992px) {
  .md\:hg-flex-nowrap { flex-wrap: nowrap; }
  .md\:hg-flex-wrap { flex-wrap: wrap; }
}

.hg-grow-0 { flex-grow: 0; }
.hg-grow-1 { flex-grow: 1; }
.hg-grow-2 { flex-grow: 2; }
.hg-grow-3 { flex-grow: 3; }
.hg-grow-auto { flex-grow: auto; }

@media (min-width: 992px) {
  .md\:hg-grow-0 { flex-grow: 0; }
  .md\:hg-grow-1 { flex-grow: 1; }
  .md\:hg-grow-2 { flex-grow: 2; }
  .md\:hg-grow-3 { flex-grow: 3; }
  .md\:hg-grow-auto { flex-grow: auto; }
}

.hg-shrink-0 { flex-shrink: 0; }
.hg-shrink-1 { flex-shrink: 1; }
.hg-shrink-2 { flex-shrink: 2; }
.hg-shrink-3 { flex-shrink: 3; }
.hg-shrink-auto { flex-shrink: auto; }

@media (min-width: 992px) {
  .md\:hg-shrink-0 { flex-shrink: 0; }
  .md\:hg-shrink-1 { flex-shrink: 1; }
  .md\:hg-shrink-2 { flex-shrink: 2; }
  .md\:hg-shrink-3 { flex-shrink: 3; }
  .md\:hg-shrink-auto { flex-shrink: auto; }
}

.hg-order-0 { order: 0; }
.hg-order-1 { order: 1; }
.hg-order-2 { order: 2; }
.hg-order-3 { order: 3; }
.hg-order-3-neg { order: -3; }
.hg-order-2-neg { order: -2; }
.hg-order-1-neg { order: -1; }
.hg-order-first { order: -9999; }
.hg-order-last { order: 9999; }

@media (min-width: 992px) {
  .md\:hg-order-0 { order: 0; }
  .md\:hg-order-1 { order: 1; }
  .md\:hg-order-2 { order: 2; }
  .md\:hg-order-3 { order: 3; }
  .md\:hg-order-3-neg { order: -3; }
  .md\:hg-order-2-neg { order: -2; }
  .md\:hg-order-1-neg { order: -1; }
  .md\:hg-order-first { order: -9999; }
  .md\:hg-order-last { order: 9999; }
}

.hg-justify-stretch { justify-content: stretch; }
.hg-justify-start { justify-content: flex-start; }
.hg-justify-end { justify-content: flex-end; }
.hg-justify-center { justify-content: center; }
.hg-justify-between { justify-content: space-between; }
.hg-justify-around { justify-content: space-around; }
.hg-justify-evenly { justify-content: space-evenly; }

@media (min-width: 992px) {
  .md\:hg-justify-stretch { justify-content: stretch; }
  .md\:hg-justify-start { justify-content: flex-start; }
  .md\:hg-justify-end { justify-content: flex-end; }
  .md\:hg-justify-center { justify-content: center; }
  .md\:hg-justify-between { justify-content: space-between; }
  .md\:hg-justify-around { justify-content: space-around; }
  .md\:hg-justify-evenly { justify-content: space-evenly; }
}

.hg-justify-items-stretch { justify-items: stretch; }
.hg-justify-items-start { justify-items: flex-start; }
.hg-justify-items-end { justify-items: flex-end; }
.hg-justify-items-center { justify-items: center; }
.hg-justify-items-between { justify-items: space-between; }
.hg-justify-items-around { justify-items: space-around; }
.hg-justify-items-evenly { justify-items: space-evenly; }

@media (min-width: 992px) {
  .md\:hg-justify-items-stretch { justify-items: stretch; }
  .md\:hg-justify-items-start { justify-items: flex-start; }
  .md\:hg-justify-items-end { justify-items: flex-end; }
  .md\:hg-justify-items-center { justify-items: center; }
  .md\:hg-justify-items-between { justify-items: space-between; }
  .md\:hg-justify-items-around { justify-items: space-around; }
  .md\:hg-justify-items-evenly { justify-items: space-evenly; }
}

.hg-content-stretch { align-content: stretch; }
.hg-content-start { align-content: flex-start; }
.hg-content-end { align-content: flex-end; }
.hg-content-center { align-content: center; }
.hg-content-between { align-content: space-between; }
.hg-content-around { align-content: space-around; }
.hg-content-evenly { align-content: space-evenly; }

@media (min-width: 992px) {
  .md\:hg-content-stretch { align-content: stretch; }
  .md\:hg-content-start { align-content: flex-start; }
  .md\:hg-content-end { align-content: flex-end; }
  .md\:hg-content-center { align-content: center; }
  .md\:hg-content-between { align-content: space-between; }
  .md\:hg-content-around { align-content: space-around; }
  .md\:hg-content-evenly { align-content: space-evenly; }
}

.hg-items-stretch { align-items: stretch; }
.hg-items-start { align-items: flex-start; }
.hg-items-end { align-items: flex-end; }
.hg-items-center { align-items: center; }
.hg-items-baseline { align-items: baseline; }

@media (min-width: 992px) {
  .md\:hg-items-stretch { align-items: stretch; }
  .md\:hg-items-start { align-items: flex-start; }
  .md\:hg-items-end { align-items: flex-end; }
  .md\:hg-items-center { align-items: center; }
  .md\:hg-items-baseline { align-items: baseline; }
}

.hg-gap-y-0 { row-gap: 0; }
.hg-gap-y-4 { row-gap: 0.25rem; }
.hg-gap-y-8 { row-gap: 0.5rem; }
.hg-gap-y-12 { row-gap: 0.75rem; }
.hg-gap-y-16 { row-gap: 1rem; }
.hg-gap-y-20 { row-gap: 1.25rem; }
.hg-gap-y-24 { row-gap: 1.5rem; }
.hg-gap-y-32 { row-gap: 2rem; }
.hg-gap-y-36 { row-gap: 2.25rem; }
.hg-gap-y-40 { row-gap: 2.5rem; }
.hg-gap-y-64 { row-gap: 4rem; }
.hg-gap-y-120 { row-gap: 7.5rem; }
.hg-gap-y-20-percent { row-gap: 20%; }
.hg-gap-y-50-percent { row-gap: 50%; }
.hg-gap-y-75-percent { row-gap: 75%; }
.hg-gap-y-100-percent { row-gap: 100%; }

@media (min-width: 992px) {
  .md\:hg-gap-y-0 { row-gap: 0; }
  .md\:hg-gap-y-4 { row-gap: 0.25rem; }
  .md\:hg-gap-y-8 { row-gap: 0.5rem; }
  .md\:hg-gap-y-12 { row-gap: 0.75rem; }
  .md\:hg-gap-y-16 { row-gap: 1rem; }
  .md\:hg-gap-y-20 { row-gap: 1.25rem; }
  .md\:hg-gap-y-24 { row-gap: 1.5rem; }
  .md\:hg-gap-y-32 { row-gap: 2rem; }
  .md\:hg-gap-y-36 { row-gap: 2.25rem; }
  .md\:hg-gap-y-40 { row-gap: 2.5rem; }
  .md\:hg-gap-y-64 { row-gap: 4rem; }
  .md\:hg-gap-y-120 { row-gap: 7.5rem; }
  .md\:hg-gap-y-20-percent { row-gap: 20%; }
  .md\:hg-gap-y-50-percent { row-gap: 50%; }
  .md\:hg-gap-y-75-percent { row-gap: 75%; }
  .md\:hg-gap-y-100-percent { row-gap: 100%; }
}

.hg-gap-x-0 { column-gap: 0; }
.hg-gap-x-4 { column-gap: 0.25rem; }
.hg-gap-x-8 { column-gap: 0.5rem; }
.hg-gap-x-12 { column-gap: 0.75rem; }
.hg-gap-x-16 { column-gap: 1rem; }
.hg-gap-x-20 { column-gap: 1.25rem; }
.hg-gap-x-24 { column-gap: 1.5rem; }
.hg-gap-x-32 { column-gap: 2rem; }
.hg-gap-x-36 { column-gap: 2.25rem; }
.hg-gap-x-40 { column-gap: 2.5rem; }
.hg-gap-x-64 { column-gap: 4rem; }
.hg-gap-x-120 { column-gap: 7.5rem; }
.hg-gap-x-20-percent { column-gap: 20%; }
.hg-gap-x-50-percent { column-gap: 50%; }
.hg-gap-x-75-percent { column-gap: 75%; }
.hg-gap-x-100-percent { column-gap: 100%; }

@media (min-width: 992px) {
  .md\:hg-gap-x-0 { column-gap: 0; }
  .md\:hg-gap-x-4 { column-gap: 0.25rem; }
  .md\:hg-gap-x-8 { column-gap: 0.5rem; }
  .md\:hg-gap-x-12 { column-gap: 0.75rem; }
  .md\:hg-gap-x-16 { column-gap: 1rem; }
  .md\:hg-gap-x-20 { column-gap: 1.25rem; }
  .md\:hg-gap-x-24 { column-gap: 1.5rem; }
  .md\:hg-gap-x-32 { column-gap: 2rem; }
  .md\:hg-gap-x-36 { column-gap: 2.25rem; }
  .md\:hg-gap-x-40 { column-gap: 2.5rem; }
  .md\:hg-gap-x-64 { column-gap: 4rem; }
  .md\:hg-gap-x-120 { column-gap: 7.5rem; }
  .md\:hg-gap-x-20-percent { column-gap: 20%; }
  .md\:hg-gap-x-50-percent { column-gap: 50%; }
  .md\:hg-gap-x-75-percent { column-gap: 75%; }
  .md\:hg-gap-x-100-percent { column-gap: 100%; }
}

.hg-gap-0 { gap: 0; }
.hg-gap-4 { gap: 0.25rem; }
.hg-gap-8 { gap: 0.5rem; }
.hg-gap-12 { gap: 0.75rem; }
.hg-gap-16 { gap: 1rem; }
.hg-gap-20 { gap: 1.25rem; }
.hg-gap-24 { gap: 1.5rem; }
.hg-gap-32 { gap: 2rem; }
.hg-gap-36 { gap: 2.25rem; }
.hg-gap-40 { gap: 2.5rem; }
.hg-gap-64 { gap: 4rem; }
.hg-gap-120 { gap: 7.5rem; }
.hg-gap-20-percent { gap: 20%; }
.hg-gap-50-percent { gap: 50%; }
.hg-gap-75-percent { gap: 75%; }
.hg-gap-100-percent { gap: 100%; }

@media (min-width: 992px) {
  .md\:hg-gap-0 { gap: 0; }
  .md\:hg-gap-4 { gap: 0.25rem; }
  .md\:hg-gap-8 { gap: 0.5rem; }
  .md\:hg-gap-12 { gap: 0.75rem; }
  .md\:hg-gap-16 { gap: 1rem; }
  .md\:hg-gap-20 { gap: 1.25rem; }
  .md\:hg-gap-24 { gap: 1.5rem; }
  .md\:hg-gap-32 { gap: 2rem; }
  .md\:hg-gap-36 { gap: 2.25rem; }
  .md\:hg-gap-40 { gap: 2.5rem; }
  .md\:hg-gap-64 { gap: 4rem; }
  .md\:hg-gap-120 { gap: 7.5rem; }
  .md\:hg-gap-20-percent { gap: 20%; }
  .md\:hg-gap-50-percent { gap: 50%; }
  .md\:hg-gap-75-percent { gap: 75%; }
  .md\:hg-gap-100-percent { gap: 100%; }
}


/* Grid System */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

@media (min-width: 768px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (min-width: 992px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (min-width: 1280px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (min-width: 1440px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (min-width: 1px) {
  .col-xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

[class*=col-] {
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}
/* Tipografías - Mobile (min-width: 0.0625rem) */
@media (min-width: 0.0625rem) {

  .h2 {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-900);
    font-size: var(--hg-typo-font-size-18);
    line-height: var(--hg-typo-line-height-1-976);
    letter-spacing: var(--hg-typo-letter-spacing-0);
    text-transform: var(--hg-typo-text-transform-none);
  }

  .title-l-b {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-700);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-2);
    letter-spacing: var(--hg-typo-letter-spacing-0);
    text-transform: var(--hg-typo-text-transform-uppercase);
  }

  .title-s {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-400);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .suisse-1 {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-16);
    line-height: var(--hg-typo-line-height-1-5);
  }

  .suisse-2 {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-13);
    line-height: var(--hg-typo-line-height-1-1);
  }

  .suisse-body {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-10);
    line-height: var(--hg-typo-line-height-1-1);
  }

  .p-tag {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-8);
    line-height: var(--hg-typo-line-height-1);
  }

  .semantic {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-13);
    line-height: var(--hg-typo-line-height-1);
  }

  .title-l {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .title-m {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .text-m {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-5);
  }

  .text-l {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-5);
  }

}

/* Tipografías - Desktop (min-width: 62rem) */
@media (min-width: 62rem) {

  .h2 {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-900);
    font-size: var(--hg-typo-font-size-24);
    line-height: var(--hg-typo-line-height-1-2);
    letter-spacing: var(--hg-typo-letter-spacing-0);
    text-transform: var(--hg-typo-text-transform-none);
  }

  .title-l-b {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-700);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-4);
    letter-spacing: var(--hg-typo-letter-spacing-0);
    text-transform: var(--hg-typo-text-transform-uppercase);
  }

  .title-s {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-400);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .suisse-1 {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-20);
    line-height: var(--hg-typo-line-height-1-5);
  }

  .suisse-2 {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-1);
  }

  .suisse-body {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-1);
  }

  .p-tag {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-8);
    line-height: var(--hg-typo-line-height-1);
  }

  .semantic {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-13);
    line-height: var(--hg-typo-line-height-1);
  }

  .title-l {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .title-m {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .text-m {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-13);
    line-height: var(--hg-typo-line-height-1-5);
  }

  .text-l {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-5);
  }

}