/**
 * Labels
 * Variantes: normal, required, inline
 */

.label {
  display: block;
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
  color: var(--label-color);
  margin-block-end: var(--hg-spacing-8);
}

.label-required::after {
  content: " *";
  color: var(--label-required);
}

.label-inline {
  display: inline-flex;
  align-items: center;
  gap: var(--hg-spacing-8);
  margin-block-end: 0;
  cursor: pointer;
}

